
@media (min-width: 1200px) {

  .jumbotron {
    background-image: url("/static/images/MightyWatt_wide_small-gray.jpg");
    background-repeat: no-repeat;
    background-position: right;
  }
  .btn-xl {
      padding: 16px 25px;
      font-size: 20px;
      border-radius: 7px;
  }
}

@media (max-width: 1200px) {
  .warnung {
    display: none;
  }
  .btn-xl {
      padding: 12px 19px;
      font-size: 16px;
      border-radius: 5px;
  }
}

.panel-heading span {
  margin-top: -18px;
  font-size: 15px;
}
.clickable {
  cursor: pointer;
}

.panel .table {
  margin-bottom: 0;
}

.numeric-cell {
  text-align: right;
  white-space: nowrap;
}

#liveMonitor td {
}



input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
