
@media (min-width: 1180px) {

  .jumbotron {
    background-image: url("/static/images/MightyWatt_wide_small-gray.jpg");
    background-repeat: no-repeat;
    background-position: right;
  }

}

.panel-heading span {
  margin-top: -18px;
  font-size: 15px;
}
.clickable {
  cursor: pointer;
}

.panel .table {
  margin-bottom: 0;
}

.numeric-cell {
  text-align: right;
  width: 40%;
}

#liveMonitor td {
}

.btn-xl {
    padding: 16px 25px;
    font-size: 20px;
    border-radius: 7px;
}
